{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <header class="masthead" style="background-image: url('{{ asset('img/banner-4.png') }}');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>PengolinCoin Blog</h1>
                        <span class="subheading">News & info</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% if is_granted('ROLE_ADMIN') %}
                    <h1>Create new Category</h1>
                    {{ include('category/_form.html.twig') }}
                    <a href="{{ path('category_index') }}">back to list</a>
                {% else %}
                    <h2 class="alert alert-danger p-5 text-center">You can't access to this page!</h2>
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
{% endblock %}
