{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
    <!-- Page Header -->
    {{ include('_header.html.twig', {'title': 'News & info', 'image': 'img/banner-4.png'}) }}

    <!-- Main Content -->
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-10 col-md-10 mx-auto">
                {% if is_granted('ROLE_ADMIN') %}
                    <h1>Create new Post</h1>
                    {{ include('post/_form.html.twig') }}
                {% else %}
                    <h2 class="alert alert-danger p-5 text-center">
                        <i class="fas fa-exclamation-circle fa-2x"></i><br>
                        You can't access to this page!
                    </h2>
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
{% endblock %}
